
# Lsh config info.
lsh_K = 10
lsh_prob = 0.9
lsh_W = 0.3
lsh_R = 0.5
lsh_M = 20
lsh_L = 20
lsh_load_index = false
lsh_do_save = false
lsh_random_vector_try = 1
lsh_max_candidate = 4000000
lsh_use_uhash = false
#lsh_dataset_path = 2012_02_22_palk_all.raw.input
lsh_index_path = 2012_02_22_palk_all.raw.lsh.index

# MPLsh config info.
mplsh_W = 1
mplsh_M = 14
mplsh_T = 1
mplsh_L = 30
mplsh_Q = 10
mplsh_K = 128
mplsh_R = 1000000
mplsh_H = 1017881
mplsh_recall = 0.9
mplsh_load_index = false
mplsh_save_index = false
mplsh_dataset_path = mplshash/2012_02_22_palk_all.raw.mpl.input
#mplsh_dataset_path = mplshash/2012_02_22_palk_all.raw.mpl.input
mplsh_index = mplshash/2012_02_22_palk_all.raw.mpl.index
#mplsh_index = mplshash/2012_02_22_palk_all.raw.mpl.index

# Flann config info.

flann_index_path = 2012_02_22_palk_all.raw.flann.index
#flann_dataset_path =/home/rt777789/code/project/lsh_ese/2012_02_22_palk_all.raw.input
flann_do_index = false
flann_do_save = true

flann_kdtree_trees = 4
flann_kdtree_leaf_max_size = 4
flann_kdtree_checks = 40000

# Comman config info.

dims = 4096
rows = 408240

multi_file_rows = 25

do_benchmark = false
benchmark_path = benchmark.file
load_benchmark_file = false

#naive_dataset_path = 32048125_new_data.raw.input
naive_dataset_path = 2012_02_22_palk_all.raw.input
testset_path = palk2.raw.input
testset_sample_path = 2012_02_22_palk_all.raw.input
testset_sample_rows = 100

testset_query_num=1
project_dir = /home/rt777789/code/project/lsh_ese/
project_top_k = 200
