
# Lsh config info.
lsh_K = 10
lsh_prob = 0.9
# p a l k. (0.9 precision, W=14).
# c o c o. (0.85 precision, W=35)
# q i z (0.83 precision, W=20)
lsh_W = 25
lsh_R = 0.5
lsh_M = 20
lsh_L = 20
lsh_load_index = false
lsh_do_save = true
lsh_random_vector_try = 1
lsh_max_candidate = 4000000
lsh_use_uhash = false
#lsh_dataset_path = million_data.raw.input
lsh_index_path = million_data.raw.lsh.index

lsh_load_random_vector = true
lsh_save_random_vector = true
lsh_random_vector_path = lshash/lsh_random_vector.info

# MPLsh config info.
mplsh_W = 1
mplsh_M = 14
mplsh_T = 1
mplsh_L = 30
mplsh_Q = 10
mplsh_K = 128
mplsh_R = 1000000
mplsh_H = 1017881
mplsh_recall = 0.9
mplsh_load_index = false
mplsh_save_index = false
mplsh_dataset_path = mplshash/million_data.raw.mpl.input
#mplsh_dataset_path = mplshash/million_data.raw.mpl.input
mplsh_index = mplshash/million_data.raw.mpl.index
#mplsh_index = mplshash/million_data.raw.mpl.index

# Flann config info.

flann_index_path = million_data.raw.flann.index
#flann_dataset_path =/home/rt777789/code/project/lsh_ese/million_data.raw.input
flann_do_index = false
flann_do_save = true

flann_kdtree_trees = 4
flann_kdtree_leaf_max_size = 4
flann_kdtree_checks = 12

# Comman config info.

dims = 2048
rows = 1310904

# 291600 / 3 = 97200
# 330480 / 3 = 110160
# 1310904 / 12 = 109242
multi_file_rows = 109242

do_benchmark = false
benchmark_path = benchmark.file
load_benchmark_file = false

#naive_dataset_path = 32048125_new_data.raw.input
naive_dataset_path = million_data.raw.input
testset_path = million_data4search.raw.input
testset_sample_path = million_data.raw.input
testset_sample_rows = 1

## index mapper
index_mapper_path = wavelet/million_data.map

testset_query_num=1
project_dir = /home/rt777789/code/project/lsh_ese/
project_top_k = 1

socket_port = 30201
index_type = flann
