
# Lsh config info.
lsh_K = 10
lsh_prob = 0.9
lsh_W = 4
lsh_R = 0.5
lsh_load_index = true
lsh_do_save = true
lsh_dataset_path = output_moment.input
lsh_index_path = output_moment.index

# MPLsh config info.
mplsh_W = 10.0
mplsh_M = 5
mplsh_T = 40
mplsh_L = 30
mplsh_Q = 10
mplsh_K = 20
mplsh_R = 1000000
mplsh_H = 1017881
mplsh_recall = 0.99
mplsh_load_index = true 
mplsh_dataset_path = mplshash/output_moment.raw.mpl.input
mplsh_index = mplshash/output_moment.raw.mpl.index

# Flann config info.

flann_index_path = /home/rt777789/code/project/lsh_ese/flann/flann.index
flann_dataset_path =/home/rt777789/code/project/lsh_ese/output_moment.input
flann_do_index = true
flann_do_save = true

flann_kdtree_trees = 4
flann_kdtree_leaf_max_size = 4

# Comman config info.

dims = 4096
rows = 100

do_benchmark = true

naive_dataset_path = output_moment.input
testset_path = output_moment.input

testset_query_num=100
